In [18]:
import numpy as np
import pandas as pd

In [19]:
df=pd.read_csv('data/adult.csv')

In [20]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [21]:
def whitespace_remover(dataframe):
    #interating over the columns
    for i in dataframe.columns:
        #checking datatype of each columns
        if dataframe[i].dtype == 'object':
            #applying strip function on column
            dataframe[i] = dataframe[i].map(str.strip)
        else:

            pass


# applying
whitespace_remover(df)

In [22]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [23]:
df.drop_duplicates(keep='first',inplace=True)

In [24]:
df

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32558,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32560,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [25]:
df.replace('?',np.nan,inplace=True)

In [26]:
df.drop(labels=["fnlwgt","capital.loss"],axis=1,inplace=True)

In [27]:
df

,age,workclass,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,hours.per.week,native.country,income
0,90,NaN,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,40,United-States,<=50K
1,82,Private,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,18,United-States,<=50K
2,66,NaN,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,40,United-States,<=50K
3,54,Private,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,40,United-States,<=50K
4,41,Private,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,40,United-States,<=50K
32557,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,38,United-States,<=50K
32558,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,40,United-States,>50K
32559,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,40,United-States,<=50K
32560,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,20,United-States,<=50K

In [28]:
X=df.iloc[:,0:12]
y=df['income']

In [29]:
X

,age,workclass,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,hours.per.week,native.country
0,90,NaN,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,40,United-States
1,82,Private,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,18,United-States
2,66,NaN,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,40,United-States
3,54,Private,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,40,United-States
4,41,Private,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,40,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...
32556,22,Private,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,40,United-States
32557,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,38,United-States
32558,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,40,United-States
32559,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,40,United-States
32560,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,20,United-States

In [30]:
y

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557    <=50K
32558     >50K
32559    <=50K
32560    <=50K
Name: income, Length: 32537, dtype: object

In [31]:
categorical_cols = X.select_dtypes(include='object').columns
numerical_cols = X.select_dtypes(exclude='object').columns

print(f'categorical Features: {categorical_cols}')
print(f'numerical Features:{numerical_cols}')

categorical Features: Index(['workclass', 'education', 'marital.status', 'occupation',
       'relationship', 'race', 'sex', 'native.country'],
      dtype='object')
numerical Features:Index(['age', 'education.num', 'capital.gain', 'hours.per.week'], dtype='object')

In [32]:
from sklearn.impute import SimpleImputer #Handling missing values
from sklearn.preprocessing import StandardScaler #Handling feature scaling
from sklearn.preprocessing import OneHotEncoder #Encoding
#pipeline
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [33]:
#Numerical pipeline
num_pipeline = Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler', StandardScaler())
    ]
)

#categorical pipeline
cat_pipeline = Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('one_hot_encoder', OneHotEncoder(sparse_output=False)),
        ('scaler', StandardScaler())

    ]
)
preprosser = ColumnTransformer([
    ('num_pipeline', num_pipeline,numerical_cols),
    ('cat_pipeline',cat_pipeline,categorical_cols)
])

In [34]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [35]:
X_train=pd.DataFrame(preprosser.fit_transform(X_train),columns=preprosser.get_feature_names_out())

In [36]:
X_test=pd.DataFrame(preprosser.fit_transform(X_test),columns=preprosser.get_feature_names_out())

In [37]:
X_train.head()

,num_pipeline__age,num_pipeline__education.num,num_pipeline__capital.gain,num_pipeline__hours.per.week,cat_pipeline__workclass_Federal-gov,cat_pipeline__workclass_Local-gov,cat_pipeline__workclass_Never-worked,cat_pipeline__workclass_Private,cat_pipeline__workclass_Self-emp-inc,cat_pipeline__workclass_Self-emp-not-inc,...,cat_pipeline__native.country_Portugal,cat_pipeline__native.country_Puerto-Rico,cat_pipeline__native.country_Scotland,cat_pipeline__native.country_South,cat_pipeline__native.country_Taiwan,cat_pipeline__native.country_Thailand,cat_pipeline__native.country_Trinadad&Tobago,cat_pipeline__native.country_United-States,cat_pipeline__native.country_Vietnam,cat_pipeline__native.country_Yugoslavia
0,0.175224,-0.424522,-0.147221,0.772045,-0.175878,-0.2615,-0.016401,-1.744607,5.314703,-0.290138,...,-0.035629,-0.057239,-0.019604,-0.048864,-0.039232,-0.021476,-0.020562,0.305205,-0.046434,-0.023198
1,-0.703437,1.134104,-0.147221,-0.035693,-0.175878,-0.2615,-0.016401,0.573195,-0.188157,-0.290138,...,-0.035629,-0.057239,-0.019604,-0.048864,-0.039232,-0.021476,-0.020562,0.305205,-0.046434,-0.023198
2,0.321668,-0.424522,-0.147221,3.033711,-0.175878,-0.2615,-0.016401,-1.744607,5.314703,-0.290138,...,-0.035629,-0.057239,-0.019604,-0.048864,-0.039232,46.562682,-0.020562,-3.276484,-0.046434,-0.023198
3,0.541333,0.354791,-0.147221,-0.035693,-0.175878,-0.2615,-0.016401,0.573195,-0.188157,-0.290138,...,-0.035629,-0.057239,-0.019604,-0.048864,-0.039232,-0.021476,-0.020562,0.305205,-0.046434,-0.023198
4,-0.630215,-0.034865,-0.147221,-0.035693,-0.175878,-0.2615,-0.016401,0.573195,-0.188157,-0.290138,...,-0.035629,-0.057239,-0.019604,-0.048864,-0.039232,-0.021476,-0.020562,0.305205,-0.046434,-0.023198

In [38]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [39]:
parameter={'penalty':['l1','l2','elasticnet','None'],'C':[1,2,0.1,0.001,0.05,0.5],'max_iter':[100,200,300]}

In [40]:
classifier=LogisticRegression()

In [41]:
classifier_regressor=GridSearchCV(classifier,param_grid=parameter,scoring='accuracy',cv=5)

In [42]:
classifier_regressor.fit(X_train,y_train)

d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
270 fits failed out of a total of 360.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
90 fits failed with the following error:
Traceback (most recent call last):
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\base.py", line 1151, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\linear_model\_logistic.py", line 1168, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\linear_model\_logistic.py", line 56, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

--------------------------------------------------------------------------------
90 fits failed with the following error:
Traceback (most recent call last):
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\base.py", line 1151, in wrapper
    return fit_method(estimator, *args, **kwargs)
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\linear_model\_logistic.py", line 1168, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\linear_model\_logistic.py", line 56, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got elasticnet penalty.

--------------------------------------------------------------------------------
90 fits failed with the following error:
Traceback (most recent call last):
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'penalty' parameter of LogisticRegression must be a str among {'l1', 'l2', 'elasticnet', 'none' (deprecated)} or None. Got 'None' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
d:\Ineuron\Project\CensusIncomePrediction\veny\lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [       nan 0.84878414        nan        nan        nan 0.84878414
        nan        nan        nan 0.84878414        nan        nan
        nan 0.84878414        nan        nan        nan 0.84878414
        nan        nan        nan 0.84878414        nan        nan
        nan 0.84870731        nan        nan        nan 0.84870731
        nan        nan        nan 0.84870731        nan        nan
        nan 0.84013996        nan        nan        nan 0.84013996
        nan        nan        nan 0.84013996        nan        nan
        nan 0.84847676        nan        nan        nan 0.84847676
        nan        nan        nan 0.84847676        nan        nan
        nan 0.84882256        nan        nan        nan 0.84882256
        nan        nan        nan 0.84882256        nan        nan]
  warnings.warn(

GridSearchCV(cv=5, estimator=LogisticRegression(),
             param_grid={'C': [1, 2, 0.1, 0.001, 0.05, 0.5],
                         'max_iter': [100, 200, 300],
                         'penalty': ['l1', 'l2', 'elasticnet', 'None']},
             scoring='accuracy')

In [43]:
print(classifier_regressor.best_params_)

{'C': 0.5, 'max_iter': 100, 'penalty': 'l2'}

In [44]:
print(classifier_regressor.best_score_)

0.848822562306184